.buttonsContainer {
    display: flex;
    gap: 24px;
}

.responseContainer {
    display: flex;
    align-items: center;
}

.imageContainer {
    margin: 60px 90px;
}

.image {
}

.textContainer {
    font-weight: 500;
}

.code {
    font-size: 30px;
}

.text {
}

.info {
}