.sidebar {
    position: absolute;
    background-color: white;
    min-height: 100vh;
    min-width: 320px;
    z-index: 2;
    transform: translate(-320px);
    transition-duration: 500ms;
    box-shadow: 0px 10px 40px rgba(29, 33, 38, 0.13), 0px 1px 2px rgba(29, 33, 38, 0.1);
    visibility: hidden;
}

.sidebar.open {
    visibility: visible;
    transition-duration: 500ms;
    transform: translate(0px);
}

.background {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    opacity: 0.3;
    background-color: black;
}

.nav {

    margin-top: 70px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.nav a {
    font-size: 22px;
    margin-bottom: 45px;
    text-decoration: none;
    color: #0059B2;
    font-weight: 600;
}

.nav a:hover {
    color: #58ACFF
}

.nav a.active {
    color:#0059B2;
    text-decoration: underline;
}


.close {
    padding: 10px;
    float: right;
    border: none;
    background-color: transparent;
}

.close img {
    cursor: pointer;
}
