.App {
    --header_height: 60px;
}

.hw {
    max-width: 70%;
    font-size: 16px;
    margin: 10px auto;
}

.hwTitle {
    font-size: 22px;
    display: flex;
    height: var(--header_height);
    align-items: end;
    margin-left: 50px;
    padding: 5px;

}