.friendMessage {
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;

}

.friendImageAndText img {
    width: 48px;
}

.friendText {
    max-width: 500px;
    min-width: 200px;
    padding: 10px;
    background-color: #F5F7FB;
    border-radius: 10px 10px 10px 0 ;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
}

/*.friendText:after {

}*/

.friendName {
    font-weight: 600;
    margin-bottom: 5px;
}

.friendMessageText {
    white-space: pre-wrap;
}

.friendTime {
    font-size: 10px;
    margin-left: 10px ;
    margin-top: 2px;
}

.block{
    position: relative;
    left:8px;
    border: 10px solid transparent;
    border-right: 10px solid #F5F7FB;
    border-bottom: 10px solid #F5F7FB;
}
