.container {
    width: 500px;
}

.wrapper {
    display: flex;
    justify-content: start;
}

.number {
    width: 25px;
    padding: 5px;
    margin-right: 25px;
}

.number:last-child{
    margin-left: 25px;
}